#!/usr/bin/make -f

export PYBUILD_TEST_PYTEST=1
export PYBUILD_NAME=cairo

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. http_proxy='127.0.0.1:9' sphinx-build -N -bhtml docs/ build/html
	# to fix lintian: privacy-breach-generic
	sed -ir 's|src="https:[^"]*|src="|' build/html/index.html

override_dh_install:
	dh_install
	rm -R debian/python-cairo/usr/include
	rm -R debian/python-cairo/usr/share/pkgconfig
	rm -R debian/python3-cairo/usr/include
	rm -R debian/python3-cairo/usr/share/pkgconfig

override_dh_strip:
	dh_strip -ppython-cairo  --dbg-package=python-cairo-dbg
	dh_strip -ppython3-cairo
